.msshext-column {
	display: inline-block;
	vertical-align: top;
}

.msshext-events-hidden {
	height: 0;
	overflow: hidden;
}

.msshext-menu-item {
	display: flex;
	flex-direction: column;
}

.msshext-menu-content-wrapper {
	flex: 1;
}

.msshext-menu-content-wrapper .msshext-menu-food-line {
	margin-bottom: 0;
}

.msshext-menu-info-content p:last-child {
	margin-bottom: 0;
}

.msshext-event-time {
	font-size: 0.8em;
}
