.msshext-column {
	display: inline-block;
	vertical-align: top;
}

.msshext-menu-content-wrapper .msshext-events-hidden {
	height: 0;
	overflow: hidden;
}

.msshext-menu-content-wrapper .msshext-menu-food-line {
	margin-bottom: 0;
}

.msshext-menu-info-content p:last-child {
	margin-bottom: 0;
}
